.container{
    /* включаем свойство flex  */
    display: flex;
    border: 1px solid;
    /* по умолчанию элементы распределяются по горизонтали. */
     flex-direction: row;
    /* space-around распределяет свободное пространство вокруг элементов */
    /*justify-content: space-around;*/
    /* justify-content: space-evenly; */
    justify-content: center;
    align-items: center;
    background-color: #E8DDB5;
    width: 100%;
    margin-bottom: 20px;

}
.container > div{
    width: 100px;
    height: 100px;
    margin: 5px;
    color: white;
    background-color: #666A86;
}

.container2 {
    border: 1px solid;
    width: 100%;
    min-height: 250px;
    background-color: #E4D6A7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container2_items {
    margin: 10px;
    width: 150px;
    height: 150px;
    background-color: #9B2915;
    margin-bottom: 20px;
}
.card{
    width: 100%;
    height: 500px;
    border: 2px solid;
    border-radius: 10px;

}